[acl_build_options]
input_format="ND"
input_shape="input_ids:1,-1;attention_mask:1,-1;position_ids:4,1,-1;image_embeds:-1,2048;deepstack_embeds:0,-1,2048"
ge.dynamicDims="64,64,64,64,64;128,128,128,128,128;256,256,256,256,256;512,512,512,512,512"

[acl_init_options]
ge.exec.precision_mode=force_fp32

[ascend_context]
plugin_custom_ops=All
