[ascend_context]
plugin_custom_ops=All
model_cache_mode=mem_opt

[ge_session_options]
ge.graph_compiler_cache_dir=./ge_cache
ge.constLifecycle=session
ge.exec.atomicCleanPolicy=1
ge.event=notify
ge.exec.staticMemoryPolicy=2
ge.exec.precision_mode=force_fp16
ge.externalWeight=2

[ge_graph_options]
ge.inputShape=U400:1,-1;U401:1,-1;U402:1,-1
ge.dynamicDims=512,512,512;896,896,896;2560,2560,2560
ge.dynamicNodeType=1
