[ascend_context]
plugin_custom_ops=All
model_cache_mode=mem_opt

[ge_session_options]
ge.constLifecycle=session
ge.exec.formatMode=1
ge.exec.atomicCleanPolicy=1
ge.event=notify
ge.exec.staticMemoryPolicy=2
ge.exec.precision_mode=must_keep_origin_dtype
ge.externalWeight=2

[ge_graph_options]
ge.inputShape=input_ids:1,1;attention_mask:1,-1;position_ids:1,1;past_key_cache:36,1,4,-1,128;past_value_cache:36,1,4,-1,128
ge.dynamicDims=1024,1024,1024;1408,1408,1408;1536,1536,1536;2176,2176,2176;2560,2560,2560;3072,3072,3072;3328,3328,3328;3584,3584,3584
ge.dynamicNodeType=1
