[ascend_context]
plugin_custom_ops=All
model_cache_mode=mem_opt

[ge_session_options]
ge.constLifecycle=session
ge.exec.formatMode=1
ge.exec.atomicCleanPolicy=1
ge.event=notify
ge.exec.staticMemoryPolicy=2
ge.exec.precision_mode=must_keep_origin_dtype
ge.externalWeight=2

[ge_graph_options]
ge.inputShape=input_ids:1,-1;attention_mask:1,-1;position_ids:1,-1
ge.dynamicDims=512,512,512;896,896,896;1024,1024,1024;1664,1664,1664;2048,2048,2048;2560,2560,2560;2816,2816,2816;3072,3072,3072
ge.dynamicNodeType=1
