[acl_build_options]
input_format="ND"
# stable-audio-3-small audio autoencoder decoder.
# latents [1, 64, 313] -> stereo waveform [1, 2, 320000] (10s @ 32kHz).
# (320000 = 313 * 1024 = 320512, trimmed to 10*32000=320000 by the wrapper.)
input_shape="latents:1,64,313"

[acl_init_options]
ge.exec.precision_mode=force_fp16

[ascend_context]
plugin_custom_ops=All
